Stocks_Intraday_Alpha_Template.json
{"flowContents":{"identifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079","instanceIdentifier":"813e5816-0183-1000-ffff-ffffd045df0b","name":"Stocks_Intraday_Alpha_Template (3)","comments":"","position":{"x":1096.0,"y":104.0},"processGroups":[{"identifier":"f2be7df3-2275-3297-beb4-9e8851062ae1","instanceIdentifier":"672531ba-88c7-18fa-ffff-fffff5fab3ab","name":"Transform Stock Data and Store to S3","comments":"","position":{"x":-8.0,"y":-120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9fe89199-cb1c-3fbf-b714-72b25afbc920","instanceIdentifier":"51893caf-0ca9-1923-a957-7432036466dd","name":"ConvertRecord","comments":"","position":{"x":1295.9999994148025,"y":1049.9999753847815},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"record-writer":"d82914ab-c104-3b29-97d0-4fbad6e05bee","record-reader":"0dd7f2f8-4c59-376d-b5b7-f16faa279c1b","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"8086b664-7d83-3aca-b99e-3192c195fb03","instanceIdentifier":"55563c62-e03e-172a-9889-5ccd3dae4f84","name":"UpdateAttribute","comments":"","position":{"x":1303.9999994148025,"y":561.9999753847816},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"avro.schema":"{\n  \"type\": \"record\",\n  \"name\": \"StockIntraday\",\n  \"fields\": [\n    { \"name\": \"symbol\", \"type\": \"string\" },\n    { \"name\": \"last_refreshed\" , \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"interval\", \"type\": \"string\" },\n    { \"name\": \"output_size\", \"type\": \"string\" },\n    { \"name\": \"time_zone\", \"type\": \"string\" },\n    { \"name\": \"ts\", \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"open\", \"type\": \"float\" },\n    { \"name\": \"high\", \"type\": \"float\" },\n    { \"name\": \"low\", \"type\": \"float\" },\n    { \"name\": \"close\", \"type\": \"float\" },\n    { \"name\": \"volume\", \"type\": \"long\" }\n  ]\n} ","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"avro.schema":{"name":"avro.schema","displayName":"avro.schema","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"a0bf7f89-1956-3147-9e25-14b588f473d7","instanceIdentifier":"098439e7-9552-1ee1-98f4-881ded9ece67","name":"MergeContent","comments":"","position":{"x":1296.0,"y":1240.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"100"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"7787f54f-553c-3b21-9efb-c856ac500ab8","instanceIdentifier":"b078378b-8434-1463-8142-82721627a31f","name":"SplitJson","comments":"","position":{"x":1296.0,"y":808.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"33ed07dc-8193-3fc0-9875-809be9e86de0","instanceIdentifier":"51ca3f1b-8bef-1ff5-829d-6e07b6152fc1","name":"PutCDPObjectStore","comments":"","position":{"x":1304.0,"y":1680.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.3.6.1-1"},"properties":{"kerberos-credentials-service":null,"cdp.configuration.resources":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml","Kerberos Password":"#{CDP_Password}","cdp-storage-location":null,"Kerberos Principal":"#{CDP_User}","writing-strategy":"writeAndRename","Directory":"#{S3 Path}/new","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"cdp.configuration.resources":{"name":"cdp.configuration.resources","displayName":"cdp.configuration.resources","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"0355534c-c85e-3f73-a1ab-9c19221806bc","instanceIdentifier":"2b003d06-7fcf-139c-b275-9785669a9011","name":"UpdateAttribute","comments":"","position":{"x":1304.0,"y":1440.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}.${now():format(\"yyyyMMddHHmmss\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"}],"inputPorts":[{"identifier":"322f86de-16a6-39ac-9b34-e19d743ec5af","instanceIdentifier":"b9293820-d71a-110e-0000-00007fb24543","name":"Stock Data Values","position":{"x":1360.0,"y":448.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"}],"outputPorts":[{"identifier":"edf94af2-39bb-34fc-ba0a-3fdf04f01d24","instanceIdentifier":"b9293832-d71a-110e-ffff-ffff9052928e","name":"failure","position":{"x":736.0,"y":1208.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"}],"connections":[{"identifier":"f84560bc-79c1-3e43-a783-b94a0416e833","instanceIdentifier":"b9293856-d71a-110e-ffff-ffffef4ffbf5","name":"","source":{"id":"a0bf7f89-1956-3147-9e25-14b588f473d7","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"MergeContent","comments":"","instanceIdentifier":"098439e7-9552-1ee1-98f4-881ded9ece67"},"destination":{"id":"edf94af2-39bb-34fc-ba0a-3fdf04f01d24","type":"OUTPUT_PORT","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"failure","instanceIdentifier":"b9293832-d71a-110e-ffff-ffff9052928e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"a29f37f4-36e8-3083-a2c3-8cefe7a0c0cf","instanceIdentifier":"b9293839-d71a-110e-ffff-ffffc9dfd3b0","name":"","source":{"id":"9fe89199-cb1c-3fbf-b714-72b25afbc920","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"ConvertRecord","comments":"","instanceIdentifier":"51893caf-0ca9-1923-a957-7432036466dd"},"destination":{"id":"edf94af2-39bb-34fc-ba0a-3fdf04f01d24","type":"OUTPUT_PORT","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"failure","instanceIdentifier":"b9293832-d71a-110e-ffff-ffff9052928e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"55504234-839b-385d-8df2-8501f7c74a37","instanceIdentifier":"bcce33d1-cc0f-1a35-a87c-3a82cb79585b","name":"","source":{"id":"a0bf7f89-1956-3147-9e25-14b588f473d7","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"MergeContent","comments":"","instanceIdentifier":"098439e7-9552-1ee1-98f4-881ded9ece67"},"destination":{"id":"0355534c-c85e-3f73-a1ab-9c19221806bc","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"UpdateAttribute","comments":"","instanceIdentifier":"2b003d06-7fcf-139c-b275-9785669a9011"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"c96e92b3-9ed6-39c5-9cba-3ddce3af1921","instanceIdentifier":"b9293870-d71a-110e-0000-00006cc62173","name":"","source":{"id":"33ed07dc-8193-3fc0-9875-809be9e86de0","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"51ca3f1b-8bef-1ff5-829d-6e07b6152fc1"},"destination":{"id":"edf94af2-39bb-34fc-ba0a-3fdf04f01d24","type":"OUTPUT_PORT","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"failure","instanceIdentifier":"b9293832-d71a-110e-ffff-ffff9052928e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"ef1d53f6-b982-3182-9599-8afb12a5ba02","instanceIdentifier":"0f893515-e970-1c91-b2c0-67a259c450fe","name":"","source":{"id":"0355534c-c85e-3f73-a1ab-9c19221806bc","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"UpdateAttribute","comments":"","instanceIdentifier":"2b003d06-7fcf-139c-b275-9785669a9011"},"destination":{"id":"33ed07dc-8193-3fc0-9875-809be9e86de0","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"51ca3f1b-8bef-1ff5-829d-6e07b6152fc1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"bc33d626-d47e-376c-b647-c4d8b78d9fc4","instanceIdentifier":"b929381f-d71a-110e-8325-3ec8c5efed96","name":"","source":{"id":"7787f54f-553c-3b21-9efb-c856ac500ab8","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"SplitJson","comments":"","instanceIdentifier":"b078378b-8434-1463-8142-82721627a31f"},"destination":{"id":"9fe89199-cb1c-3fbf-b714-72b25afbc920","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"ConvertRecord","comments":"","instanceIdentifier":"51893caf-0ca9-1923-a957-7432036466dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"204ab683-6468-398a-aea0-a6b803b51f5a","instanceIdentifier":"b929383e-d71a-110e-ffff-ffffe555e29e","name":"","source":{"id":"7787f54f-553c-3b21-9efb-c856ac500ab8","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"SplitJson","comments":"","instanceIdentifier":"b078378b-8434-1463-8142-82721627a31f"},"destination":{"id":"edf94af2-39bb-34fc-ba0a-3fdf04f01d24","type":"OUTPUT_PORT","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"failure","instanceIdentifier":"b9293832-d71a-110e-ffff-ffff9052928e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"becdf82b-4eeb-3c05-b119-5f9916a7c3ce","instanceIdentifier":"07113c6c-c79b-1ba7-b948-854fa36e119d","name":"","source":{"id":"8086b664-7d83-3aca-b99e-3192c195fb03","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"UpdateAttribute","comments":"","instanceIdentifier":"55563c62-e03e-172a-9889-5ccd3dae4f84"},"destination":{"id":"7787f54f-553c-3b21-9efb-c856ac500ab8","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"SplitJson","comments":"","instanceIdentifier":"b078378b-8434-1463-8142-82721627a31f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"ccdc31c6-6258-3c2a-a32b-4b1d453282e7","instanceIdentifier":"b9293829-d71a-110e-0000-0000014365c9","name":"","source":{"id":"322f86de-16a6-39ac-9b34-e19d743ec5af","type":"INPUT_PORT","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"Stock Data Values","instanceIdentifier":"b9293820-d71a-110e-0000-00007fb24543"},"destination":{"id":"8086b664-7d83-3aca-b99e-3192c195fb03","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"UpdateAttribute","comments":"","instanceIdentifier":"55563c62-e03e-172a-9889-5ccd3dae4f84"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"},{"identifier":"678a2b50-b5b1-3edb-bc54-7abd6254aaab","instanceIdentifier":"62d539a4-69f2-181b-9ab5-b392d7b8ffb3","name":"","source":{"id":"9fe89199-cb1c-3fbf-b714-72b25afbc920","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"ConvertRecord","comments":"","instanceIdentifier":"51893caf-0ca9-1923-a957-7432036466dd"},"destination":{"id":"a0bf7f89-1956-3147-9e25-14b588f473d7","type":"PROCESSOR","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"MergeContent","comments":"","instanceIdentifier":"098439e7-9552-1ee1-98f4-881ded9ece67"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2be7df3-2275-3297-beb4-9e8851062ae1"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"Intraday_Stocks_Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"},{"identifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","instanceIdentifier":"1de03ec1-b1f1-1f22-0000-00000a6361f9","name":"Request Alpha Vantage Api","comments":"","position":{"x":-8.0,"y":-408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"75e968de-2f1d-3692-9c55-263c29db5e9f","instanceIdentifier":"a37233c7-5f5e-1ed0-8c97-a356f4530f75","name":"ControlRate","comments":"","position":{"x":961.0000507339307,"y":657.9999753847815},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Time Duration":"1 sec","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count"},"propertyDescriptors":{"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0.1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"40f3b0dc-6835-3226-9d1b-73df3f0f4588","instanceIdentifier":"17df3a65-6f6c-144b-b53b-3242dd4e86f0","name":"InvokeHTTP","comments":"","position":{"x":960.0,"y":864.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=${URL}&interval=1min&apikey=#{api_alpha_key}","Content-Type":"${mime.type}","form-body-form-name":null,"flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"1eab1d92-aeef-3669-9421-e9a9f02e5474","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"oauth2-access-token-provider":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token provider","identifiesControllerService":true,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"4aed4d17-f5b5-3edd-ae7c-b769cc1257d8","instanceIdentifier":"89043870-678f-1916-ba91-a06f16d45594","name":"JoltTransformJSON","comments":"","position":{"x":968.0,"y":1096.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"Meta Data\": {\n        \"1. Information\": \"MetaData.information\",\n        \"2. Symbol\": \"MetaData.symbol\",\n        \"3. Last Refreshed\": \"MetaData.last_refreshed\",\n        \"4. Interval\": \"MetaData.interval\",\n        \"5. Output Size\": \"MetaData.output_size\",\n        \"6. Time Zone\": \"MetaData.time_zone\"\n      },\n      \"Time Series (1min)\": {\n        \"*\": {\n          \"$\": \"TimeSeries.&1.ts\",\n          \"1. open\": \"TimeSeries.&1.open\",\n          \"2. high\": \"TimeSeries.&1.high\",\n          \"3. low\": \"TimeSeries.&1.low\",\n          \"4. close\": \"TimeSeries.&1.close\",\n          \"5. volume\": \"TimeSeries.&1.volume\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"TimeSeries\": {\n        \"*\": {\n          \"*\": \"timeseries.&1.&\",\n          \"@(2,MetaData)\": {\n            \"*\": \"timeseries.&1.&\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"timeseries\": {\n        \"*\": {\n          \"*\": {\n            \"@\": \"[#3].&\"\n          }\n        }\n      }\n    }\n    }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"}],"inputPorts":[{"identifier":"22244a3b-464a-373d-96ef-1aba2e0f6840","instanceIdentifier":"1de03ed6-b1f1-1f22-0000-000037c13d61","name":"input parameters","position":{"x":1016.0,"y":528.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"}],"outputPorts":[{"identifier":"bf97cfbb-f75c-39d3-b795-c44b70fc1e16","instanceIdentifier":"67253172-88c7-18fa-0000-00000e871f42","name":"stock data","position":{"x":1032.0,"y":1320.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"6718525d-facf-3261-b3ad-c08a0ce2cfbe","instanceIdentifier":"6725313e-88c7-18fa-ffff-ffffa15694b6","name":"failure","position":{"x":1648.0,"y":904.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"}],"connections":[{"identifier":"8857082f-16e3-3844-b7ce-a3ecfa086908","instanceIdentifier":"6725311d-88c7-18fa-a386-a994a1e9bd2e","name":"","source":{"id":"40f3b0dc-6835-3226-9d1b-73df3f0f4588","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"InvokeHTTP","comments":"","instanceIdentifier":"17df3a65-6f6c-144b-b53b-3242dd4e86f0"},"destination":{"id":"4aed4d17-f5b5-3edd-ae7c-b769cc1257d8","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"JoltTransformJSON","comments":"","instanceIdentifier":"89043870-678f-1916-ba91-a06f16d45594"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"fcd0e4ec-21b4-3ce6-95f9-e6f3a9196b0e","instanceIdentifier":"67253141-88c7-18fa-0000-000039f1dbe1","name":"","source":{"id":"40f3b0dc-6835-3226-9d1b-73df3f0f4588","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"InvokeHTTP","comments":"","instanceIdentifier":"17df3a65-6f6c-144b-b53b-3242dd4e86f0"},"destination":{"id":"6718525d-facf-3261-b3ad-c08a0ce2cfbe","type":"OUTPUT_PORT","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"failure","instanceIdentifier":"6725313e-88c7-18fa-ffff-ffffa15694b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"780c6216-a008-3cc1-b997-02ea2832b20f","instanceIdentifier":"c0c934a6-8d06-19a3-9010-b12b6265b7c5","name":"","source":{"id":"75e968de-2f1d-3692-9c55-263c29db5e9f","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"ControlRate","comments":"","instanceIdentifier":"a37233c7-5f5e-1ed0-8c97-a356f4530f75"},"destination":{"id":"40f3b0dc-6835-3226-9d1b-73df3f0f4588","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"InvokeHTTP","comments":"","instanceIdentifier":"17df3a65-6f6c-144b-b53b-3242dd4e86f0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"b6447286-b00e-3518-ba8e-68e72252e26d","instanceIdentifier":"67253175-88c7-18fa-ffff-fffff47a2c53","name":"","source":{"id":"4aed4d17-f5b5-3edd-ae7c-b769cc1257d8","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"JoltTransformJSON","comments":"","instanceIdentifier":"89043870-678f-1916-ba91-a06f16d45594"},"destination":{"id":"bf97cfbb-f75c-39d3-b795-c44b70fc1e16","type":"OUTPUT_PORT","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"stock data","instanceIdentifier":"67253172-88c7-18fa-0000-00000e871f42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"e61739ae-6085-3309-a54b-ef48f2d443c0","instanceIdentifier":"67253163-88c7-18fa-0000-00002f43d512","name":"","source":{"id":"4aed4d17-f5b5-3edd-ae7c-b769cc1257d8","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"JoltTransformJSON","comments":"","instanceIdentifier":"89043870-678f-1916-ba91-a06f16d45594"},"destination":{"id":"6718525d-facf-3261-b3ad-c08a0ce2cfbe","type":"OUTPUT_PORT","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"failure","instanceIdentifier":"6725313e-88c7-18fa-ffff-ffffa15694b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"ddf2a5ec-f505-3cd0-b7f6-1fc8adca1db7","instanceIdentifier":"67253123-88c7-18fa-0000-000017cc9f9f","name":"","source":{"id":"22244a3b-464a-373d-96ef-1aba2e0f6840","type":"INPUT_PORT","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"input parameters","instanceIdentifier":"1de03ed6-b1f1-1f22-0000-000037c13d61"},"destination":{"id":"75e968de-2f1d-3692-9c55-263c29db5e9f","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"ControlRate","comments":"","instanceIdentifier":"a37233c7-5f5e-1ed0-8c97-a356f4530f75"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"},{"identifier":"e93eb42b-8aa6-3e09-9b9d-329b32e38f78","instanceIdentifier":"e317327f-9c96-16f1-bc43-412954a2163c","name":"","source":{"id":"75e968de-2f1d-3692-9c55-263c29db5e9f","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"ControlRate","comments":"","instanceIdentifier":"a37233c7-5f5e-1ed0-8c97-a356f4530f75"},"destination":{"id":"75e968de-2f1d-3692-9c55-263c29db5e9f","type":"PROCESSOR","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"ControlRate","comments":"","instanceIdentifier":"a37233c7-5f5e-1ed0-8c97-a356f4530f75"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1421.4892780288526,"y":699.3186094179846},{"x":1421.4892780288526,"y":749.3186094179846}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"Intraday_Stocks_Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"},{"identifier":"e09c0614-6466-32db-bf89-a6d9b336bab0","instanceIdentifier":"8dccd5f9-0183-1000-0000-0000567bf090","name":"Get Parameters Values","comments":"","position":{"x":-8.0,"y":-728.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8d51b47f-25c2-3a60-90c5-d6316400a8bd","instanceIdentifier":"658d3d9f-c143-1093-9a3d-3e289c1293bd","name":"List of Stocks","comments":"","position":{"x":1128.0,"y":1152.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"#{stock_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c0614-6466-32db-bf89-a6d9b336bab0"},{"identifier":"2424d239-42d1-352a-b73b-89c6a73e4ca9","instanceIdentifier":"579238d8-6266-145e-be9f-e17fc6d19c6f","name":"SplitText","comments":"","position":{"x":1120.0,"y":1368.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c0614-6466-32db-bf89-a6d9b336bab0"},{"identifier":"8744facd-617c-389f-8716-ed7b0e09fe3c","instanceIdentifier":"c75b3424-fde1-1ee3-8883-067cfc7d799d","name":"ExtractText","comments":"","position":{"x":1120.0,"y":1568.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","URL":"(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c0614-6466-32db-bf89-a6d9b336bab0"}],"inputPorts":[],"outputPorts":[{"identifier":"e276d4e1-8a1d-32d2-87e8-a94c109e3ebb","instanceIdentifier":"1de03dfd-b1f1-1f22-0000-00000b3d570e","name":"parameters","position":{"x":1176.0,"y":1776.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"e09c0614-6466-32db-bf89-a6d9b336bab0"}],"connections":[{"identifier":"ba6a0650-aa09-3c38-b4c5-b9c780c96ec8","instanceIdentifier":"de1f392e-42f6-1b1d-9116-73e61f6d758d","name":"","source":{"id":"2424d239-42d1-352a-b73b-89c6a73e4ca9","type":"PROCESSOR","groupId":"e09c0614-6466-32db-bf89-a6d9b336bab0","name":"SplitText","comments":"","instanceIdentifier":"579238d8-6266-145e-be9f-e17fc6d19c6f"},"destination":{"id":"8744facd-617c-389f-8716-ed7b0e09fe3c","type":"PROCESSOR","groupId":"e09c0614-6466-32db-bf89-a6d9b336bab0","name":"ExtractText","comments":"","instanceIdentifier":"c75b3424-fde1-1ee3-8883-067cfc7d799d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c0614-6466-32db-bf89-a6d9b336bab0"},{"identifier":"36a6f5cd-f361-3578-8e2f-00d323fd5eab","instanceIdentifier":"1de03e03-b1f1-1f22-0000-00001efb41cc","name":"","source":{"id":"8744facd-617c-389f-8716-ed7b0e09fe3c","type":"PROCESSOR","groupId":"e09c0614-6466-32db-bf89-a6d9b336bab0","name":"ExtractText","comments":"","instanceIdentifier":"c75b3424-fde1-1ee3-8883-067cfc7d799d"},"destination":{"id":"e276d4e1-8a1d-32d2-87e8-a94c109e3ebb","type":"OUTPUT_PORT","groupId":"e09c0614-6466-32db-bf89-a6d9b336bab0","name":"parameters","instanceIdentifier":"1de03dfd-b1f1-1f22-0000-00000b3d570e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c0614-6466-32db-bf89-a6d9b336bab0"},{"identifier":"a4644117-1b84-3236-b7a6-a80524245025","instanceIdentifier":"1de03dd3-b1f1-1f22-933f-cff01ef2b24f","name":"","source":{"id":"8d51b47f-25c2-3a60-90c5-d6316400a8bd","type":"PROCESSOR","groupId":"e09c0614-6466-32db-bf89-a6d9b336bab0","name":"List of Stocks","comments":"","instanceIdentifier":"658d3d9f-c143-1093-9a3d-3e289c1293bd"},"destination":{"id":"2424d239-42d1-352a-b73b-89c6a73e4ca9","type":"PROCESSOR","groupId":"e09c0614-6466-32db-bf89-a6d9b336bab0","name":"SplitText","comments":"","instanceIdentifier":"579238d8-6266-145e-be9f-e17fc6d19c6f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c0614-6466-32db-bf89-a6d9b336bab0"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"Intraday_Stocks_Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4df09c46-e0af-3628-807a-6d94bc76288f","instanceIdentifier":"b9293aa0-d71a-110e-0000-000045fe1c72","name":"","source":{"id":"edf94af2-39bb-34fc-ba0a-3fdf04f01d24","type":"OUTPUT_PORT","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"failure","instanceIdentifier":"b9293832-d71a-110e-ffff-ffff9052928e"},"destination":{"id":"4b072b68-a407-3bcc-b098-11cda792cb71","type":"FUNNEL","groupId":"68b63ddb-b60d-3a2b-a2ca-7d8525881079","name":"Funnel","comments":"","instanceIdentifier":"672531a6-88c7-18fa-0000-00001dcf64e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"},{"identifier":"7732f14d-9416-3725-a27f-163299690aef","instanceIdentifier":"1de03ee3-b1f1-1f22-ffff-ffffbb3c7728","name":"","source":{"id":"e276d4e1-8a1d-32d2-87e8-a94c109e3ebb","type":"OUTPUT_PORT","groupId":"e09c0614-6466-32db-bf89-a6d9b336bab0","name":"parameters","instanceIdentifier":"1de03dfd-b1f1-1f22-0000-00000b3d570e"},"destination":{"id":"22244a3b-464a-373d-96ef-1aba2e0f6840","type":"INPUT_PORT","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"input parameters","instanceIdentifier":"1de03ed6-b1f1-1f22-0000-000037c13d61"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"},{"identifier":"f0a8b985-ff2f-344f-bb40-c1b7181addae","instanceIdentifier":"672531a9-88c7-18fa-ffff-ffffd7beb363","name":"","source":{"id":"6718525d-facf-3261-b3ad-c08a0ce2cfbe","type":"OUTPUT_PORT","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"failure","instanceIdentifier":"6725313e-88c7-18fa-ffff-ffffa15694b6"},"destination":{"id":"4b072b68-a407-3bcc-b098-11cda792cb71","type":"FUNNEL","groupId":"68b63ddb-b60d-3a2b-a2ca-7d8525881079","name":"Funnel","comments":"","instanceIdentifier":"672531a6-88c7-18fa-0000-00001dcf64e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"},{"identifier":"c3fc566a-d3ee-38c4-ad57-f439d3961c30","instanceIdentifier":"b92938a0-d71a-110e-ffff-ffffb181e6f2","name":"","source":{"id":"bf97cfbb-f75c-39d3-b795-c44b70fc1e16","type":"OUTPUT_PORT","groupId":"2047eaa2-0227-3ada-89a7-2fbc3ddf8ced","name":"stock data","instanceIdentifier":"67253172-88c7-18fa-0000-00000e871f42"},"destination":{"id":"322f86de-16a6-39ac-9b34-e19d743ec5af","type":"INPUT_PORT","groupId":"f2be7df3-2275-3297-beb4-9e8851062ae1","name":"Stock Data Values","instanceIdentifier":"b9293820-d71a-110e-0000-00007fb24543"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"}],"labels":[],"funnels":[{"identifier":"4b072b68-a407-3bcc-b098-11cda792cb71","instanceIdentifier":"672531a6-88c7-18fa-0000-00001dcf64e3","position":{"x":-312.0,"y":-192.0},"componentType":"FUNNEL","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"}],"controllerServices":[{"identifier":"d82914ab-c104-3b29-97d0-4fbad6e05bee","instanceIdentifier":"9e7905cd-58a9-38b6-972b-531d8de95114","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.3.6.1-1"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"},{"identifier":"0dd7f2f8-4c59-376d-b5b7-f16faa279c1b","instanceIdentifier":"ae532b66-4fd3-3ed6-82f7-0d8429f52d6b","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"symbol":"$.symbol","schema-branch":null,"output_size":"$.output_size","time_zone":"$.time_zone","last_refreshed":"$.last_refreshed","Timestamp Format":"yyyy-MM-dd HH:mm:ss","volume":"$.volume","Date Format":null,"high":"$.high","low":"$.low","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"interval":"$.interval","schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"${avro.schema}","close":"$.close","open":"$.open","ts":"$.ts"},"propertyDescriptors":{"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"output_size":{"name":"output_size","displayName":"output_size","identifiesControllerService":false,"sensitive":false},"time_zone":{"name":"time_zone","displayName":"time_zone","identifiesControllerService":false,"sensitive":false},"last_refreshed":{"name":"last_refreshed","displayName":"last_refreshed","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"volume":{"name":"volume","displayName":"volume","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"high":{"name":"high","displayName":"high","identifiesControllerService":false,"sensitive":false},"low":{"name":"low","displayName":"low","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"interval":{"name":"interval","displayName":"interval","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"close":{"name":"close","displayName":"close","identifiesControllerService":false,"sensitive":false},"open":{"name":"open","displayName":"open","identifiesControllerService":false,"sensitive":false},"ts":{"name":"ts","displayName":"ts","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.3.6.1-1"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"68b63ddb-b60d-3a2b-a2ca-7d8525881079"},{"identifier":"1eab1d92-aeef-3669-9421-e9a9f02e5474","instanceIdentifier":"813e5658-0183-1000-ffff-ffffd8c5259f","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.16.0.2.3.6.1-1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.3.6.1-1"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.3.6.1-1"}}],"scheduledState":"DISABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"813e5816-0183-1000-ffff-ffffd045df0b"}],"variables":{},"parameterContextName":"Intraday_Stocks_Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Intraday_Stocks_Parameters":{"name":"Intraday_Stocks_Parameters","parameters":[{"name":"CDP_Password","description":"","sensitive":true},{"name":"S3 Path","description":"","sensitive":false,"value":"stocks"},{"name":"api_alpha_key","description":"","sensitive":false,"value":"RE0BU7VE1RAHC0CQ"},{"name":"CDP_User","description":"","sensitive":false,"value":"bguedes"},{"name":"stock_list","description":"","sensitive":false,"value":"IBM\nGOOGL\nAMZN\nMSFT"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}
