Stocks_Intraday_Alpha_Template.json
{
	"flowContents": {
		"identifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
		"instanceIdentifier": "813e5816-0183-1000-ffff-ffffd045df0b",
		"name": "Stocks_Intraday_Alpha_Template (3)",
		"comments": "",
		"position": {
			"x": 1096.0,
			"y": 104.0
		},
		"processGroups": [],
		"remoteProcessGroups": [],
		"processors": [{
			"identifier": "d729b39e-9c06-34d3-a0ae-9558548b8946",
			"instanceIdentifier": "6c3ffc21-7638-36ac-8d8d-1e66811a69b7",
			"name": "ControlRate",
			"comments": "",
			"position": {
				"x": -48.0,
				"y": -616.0
			},
			"type": "org.apache.nifi.processors.standard.ControlRate",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Time Duration": "1 sec",
				"Grouping Attribute": null,
				"Maximum Rate": "1",
				"Rate Controlled Attribute": null,
				"Rate Control Criteria": "flowfile count"
			},
			"propertyDescriptors": {
				"Time Duration": {
					"name": "Time Duration",
					"displayName": "Time Duration",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Grouping Attribute": {
					"name": "Grouping Attribute",
					"displayName": "Grouping Attribute",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Maximum Rate": {
					"name": "Maximum Rate",
					"displayName": "Maximum Rate",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Rate Controlled Attribute": {
					"name": "Rate Controlled Attribute",
					"displayName": "Rate Controlled Attribute",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Rate Control Criteria": {
					"name": "Rate Control Criteria",
					"displayName": "Rate Control Criteria",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0.1 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": [],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "285d945c-cfaa-3d10-850d-041225498411",
			"instanceIdentifier": "1531c704-cba0-3222-ae77-4cfc76b70032",
			"name": "JoltTransformJSON",
			"comments": "",
			"position": {
				"x": -80.0,
				"y": 72.0
			},
			"type": "org.apache.nifi.processors.standard.JoltTransformJSON",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"jolt-spec": "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"Meta Data\": {\n        \"1. Information\": \"MetaData.information\",\n        \"2. Symbol\": \"MetaData.symbol\",\n        \"3. Last Refreshed\": \"MetaData.last_refreshed\",\n        \"4. Interval\": \"MetaData.interval\",\n        \"5. Output Size\": \"MetaData.output_size\",\n        \"6. Time Zone\": \"MetaData.time_zone\"\n      },\n      \"Time Series (1min)\": {\n        \"*\": {\n          \"$\": \"TimeSeries.&1.ts\",\n          \"1. open\": \"TimeSeries.&1.open\",\n          \"2. high\": \"TimeSeries.&1.high\",\n          \"3. low\": \"TimeSeries.&1.low\",\n          \"4. close\": \"TimeSeries.&1.close\",\n          \"5. volume\": \"TimeSeries.&1.volume\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"TimeSeries\": {\n        \"*\": {\n          \"*\": \"timeseries.&1.&\",\n          \"@(2,MetaData)\": {\n            \"*\": \"timeseries.&1.&\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"timeseries\": {\n        \"*\": {\n          \"*\": {\n            \"@\": \"[#3].&\"\n          }\n        }\n      }\n    }\n    }\n]",
				"jolt-transform": "jolt-transform-chain",
				"jolt-custom-class": null,
				"jolt-custom-modules": null,
				"pretty_print": "false",
				"Transform Cache Size": "1"
			},
			"propertyDescriptors": {
				"jolt-spec": {
					"name": "jolt-spec",
					"displayName": "Jolt Specification",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"jolt-transform": {
					"name": "jolt-transform",
					"displayName": "Jolt Transformation DSL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"jolt-custom-class": {
					"name": "jolt-custom-class",
					"displayName": "Custom Transformation Class Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"jolt-custom-modules": {
					"name": "jolt-custom-modules",
					"displayName": "Custom Module Directory",
					"identifiesControllerService": false,
					"sensitive": false,
					"resourceDefinition": {
						"cardinality": "MULTIPLE",
						"resourceTypes": ["DIRECTORY", "FILE"]
					}
				},
				"pretty_print": {
					"name": "pretty_print",
					"displayName": "Pretty Print",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Transform Cache Size": {
					"name": "Transform Cache Size",
					"displayName": "Transform Cache Size",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": [],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "eb6917bd-9c2a-3b38-a225-720cba1f4be1",
			"instanceIdentifier": "d86c9ba7-a071-3fec-88fe-55dee3d02635",
			"name": "MergeContent",
			"comments": "",
			"position": {
				"x": 856.0,
				"y": 40.0
			},
			"type": "org.apache.nifi.processors.standard.MergeContent",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Keep Path": "false",
				"Maximum Group Size": null,
				"Merge Strategy": "Bin-Packing Algorithm",
				"Attribute Strategy": "Keep Only Common Attributes",
				"Compression Level": "1",
				"Maximum Number of Entries": "1000",
				"Minimum Group Size": "0 B",
				"Maximum number of Bins": "5",
				"Tar Modified Time": "${file.lastModifiedTime}",
				"Delimiter Strategy": "Do Not Use Delimiters",
				"Merge Format": "Binary Concatenation",
				"Footer File": null,
				"Max Bin Age": null,
				"Demarcator File": null,
				"Correlation Attribute Name": null,
				"Header File": null,
				"mergecontent-metadata-strategy": "Do Not Merge Uncommon Metadata",
				"Minimum Number of Entries": "100"
			},
			"propertyDescriptors": {
				"Keep Path": {
					"name": "Keep Path",
					"displayName": "Keep Path",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Maximum Group Size": {
					"name": "Maximum Group Size",
					"displayName": "Maximum Group Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Merge Strategy": {
					"name": "Merge Strategy",
					"displayName": "Merge Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Attribute Strategy": {
					"name": "Attribute Strategy",
					"displayName": "Attribute Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Compression Level": {
					"name": "Compression Level",
					"displayName": "Compression Level",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Maximum Number of Entries": {
					"name": "Maximum Number of Entries",
					"displayName": "Maximum Number of Entries",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Minimum Group Size": {
					"name": "Minimum Group Size",
					"displayName": "Minimum Group Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Maximum number of Bins": {
					"name": "Maximum number of Bins",
					"displayName": "Maximum number of Bins",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Tar Modified Time": {
					"name": "Tar Modified Time",
					"displayName": "Tar Modified Time",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Delimiter Strategy": {
					"name": "Delimiter Strategy",
					"displayName": "Delimiter Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Merge Format": {
					"name": "Merge Format",
					"displayName": "Merge Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Footer File": {
					"name": "Footer File",
					"displayName": "Footer",
					"identifiesControllerService": false,
					"sensitive": false,
					"resourceDefinition": {
						"cardinality": "SINGLE",
						"resourceTypes": ["TEXT", "FILE"]
					}
				},
				"Max Bin Age": {
					"name": "Max Bin Age",
					"displayName": "Max Bin Age",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Demarcator File": {
					"name": "Demarcator File",
					"displayName": "Demarcator",
					"identifiesControllerService": false,
					"sensitive": false,
					"resourceDefinition": {
						"cardinality": "SINGLE",
						"resourceTypes": ["TEXT", "FILE"]
					}
				},
				"Correlation Attribute Name": {
					"name": "Correlation Attribute Name",
					"displayName": "Correlation Attribute Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Header File": {
					"name": "Header File",
					"displayName": "Header",
					"identifiesControllerService": false,
					"sensitive": false,
					"resourceDefinition": {
						"cardinality": "SINGLE",
						"resourceTypes": ["TEXT", "FILE"]
					}
				},
				"mergecontent-metadata-strategy": {
					"name": "mergecontent-metadata-strategy",
					"displayName": "Metadata Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Minimum Number of Entries": {
					"name": "Minimum Number of Entries",
					"displayName": "Minimum Number of Entries",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["original"],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "06c27bf9-f5c8-33f0-b7fc-5cdb7cac050f",
			"instanceIdentifier": "96d0ac31-8688-3daa-b46b-d2bd49af19b9",
			"name": "SplitText",
			"comments": "",
			"position": {
				"x": -48.0,
				"y": -1288.0
			},
			"type": "org.apache.nifi.processors.standard.SplitText",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Remove Trailing Newlines": "true",
				"Maximum Fragment Size": null,
				"Header Line Marker Characters": null,
				"Header Line Count": "0",
				"Line Split Count": "1"
			},
			"propertyDescriptors": {
				"Remove Trailing Newlines": {
					"name": "Remove Trailing Newlines",
					"displayName": "Remove Trailing Newlines",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Maximum Fragment Size": {
					"name": "Maximum Fragment Size",
					"displayName": "Maximum Fragment Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Header Line Marker Characters": {
					"name": "Header Line Marker Characters",
					"displayName": "Header Line Marker Characters",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Header Line Count": {
					"name": "Header Line Count",
					"displayName": "Header Line Count",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Line Split Count": {
					"name": "Line Split Count",
					"displayName": "Line Split Count",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["original", "failure"],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "a5f69ccb-0e76-35f9-ac89-ec2548facfae",
			"instanceIdentifier": "a4dde08f-05a0-3ab3-a23f-fb5252bd4597",
			"name": "SplitJson",
			"comments": "",
			"position": {
				"x": 832.0,
				"y": -392.0
			},
			"type": "org.apache.nifi.processors.standard.SplitJson",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Null Value Representation": "empty string",
				"JsonPath Expression": "$.*"
			},
			"propertyDescriptors": {
				"Null Value Representation": {
					"name": "Null Value Representation",
					"displayName": "Null Value Representation",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"JsonPath Expression": {
					"name": "JsonPath Expression",
					"displayName": "JsonPath Expression",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["original"],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "4c06067b-4002-3f63-98fc-b09c338199c6",
			"instanceIdentifier": "74be8496-faa4-3a1b-b9f1-7d5f0bc26367",
			"name": "PutCDPObjectStore",
			"comments": "",
			"position": {
				"x": 976.0,
				"y": 472.0
			},
			"type": "org.apache.nifi.processors.hadoop.PutCDPObjectStore",
			"bundle": {
				"group": "com.cloudera",
				"artifact": "nifi-cdf-objectstore-nar",
				"version": "1.0.0.2.3.6.1-1"
			},
			"properties": {
				"kerberos-credentials-service": null,
				"cdp.configuration.resources": "/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml",
				"Kerberos Password": "#{CDP_Password}",
				"cdp-storage-location": null,
				"Kerberos Principal": "#{CDP_User}",
				"writing-strategy": "writeAndRename",
				"Directory": "#{S3 Path}/new",
				"Conflict Resolution Strategy": "fail"
			},
			"propertyDescriptors": {
				"kerberos-credentials-service": {
					"name": "kerberos-credentials-service",
					"displayName": "Kerberos Credentials Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"cdp.configuration.resources": {
					"name": "cdp.configuration.resources",
					"displayName": "cdp.configuration.resources",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Kerberos Password": {
					"name": "Kerberos Password",
					"displayName": "CDP Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"cdp-storage-location": {
					"name": "cdp-storage-location",
					"displayName": "Storage Location",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Kerberos Principal": {
					"name": "Kerberos Principal",
					"displayName": "CDP Username",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"writing-strategy": {
					"name": "writing-strategy",
					"displayName": "Writing Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Directory": {
					"name": "Directory",
					"displayName": "Directory",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Conflict Resolution Strategy": {
					"name": "Conflict Resolution Strategy",
					"displayName": "Conflict Resolution Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["success"],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "6869488f-097b-378e-9d6b-fba439bc6880",
			"instanceIdentifier": "8e76f8c0-6161-30bf-a28f-6d389fcaf44c",
			"name": "UpdateAttribute",
			"comments": "",
			"position": {
				"x": 744.0,
				"y": 264.0
			},
			"type": "org.apache.nifi.processors.attributes.UpdateAttribute",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-update-attribute-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Delete Attributes Expression": null,
				"filename": "${filename}.${now():format(\"yyyyMMddHHmmss\")}",
				"Store State": "Do not store state",
				"canonical-value-lookup-cache-size": "100",
				"Stateful Variables Initial Value": null
			},
			"propertyDescriptors": {
				"Delete Attributes Expression": {
					"name": "Delete Attributes Expression",
					"displayName": "Delete Attributes Expression",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"filename": {
					"name": "filename",
					"displayName": "filename",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Store State": {
					"name": "Store State",
					"displayName": "Store State",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"canonical-value-lookup-cache-size": {
					"name": "canonical-value-lookup-cache-size",
					"displayName": "Cache Value Lookup Cache Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Stateful Variables Initial Value": {
					"name": "Stateful Variables Initial Value",
					"displayName": "Stateful Variables Initial Value",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": [],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "3138087e-e910-3047-96a0-fa2507b21205",
			"instanceIdentifier": "1a1c31b4-fd97-377d-8f12-60b5c46440c5",
			"name": "ConvertRecord",
			"comments": "",
			"position": {
				"x": 832.0,
				"y": -152.0
			},
			"type": "org.apache.nifi.processors.standard.ConvertRecord",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"record-writer": "d82914ab-c104-3b29-97d0-4fbad6e05bee",
				"record-reader": "0dd7f2f8-4c59-376d-b5b7-f16faa279c1b",
				"include-zero-record-flowfiles": "true"
			},
			"propertyDescriptors": {
				"record-writer": {
					"name": "record-writer",
					"displayName": "Record Writer",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"record-reader": {
					"name": "record-reader",
					"displayName": "Record Reader",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"include-zero-record-flowfiles": {
					"name": "include-zero-record-flowfiles",
					"displayName": "Include Zero Record FlowFiles",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": [],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "14647612-470f-302f-9622-d3f42655ed67",
			"instanceIdentifier": "543cb7cf-2b0b-3d84-952d-358b465983d1",
			"name": "InvokeHTTP",
			"comments": "",
			"position": {
				"x": -48.0,
				"y": -280.0
			},
			"type": "org.apache.nifi.processors.standard.InvokeHTTP",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Proxy Host": null,
				"Attributes to Send": null,
				"use-etag": "false",
				"proxy-configuration-service": null,
				"Proxy Type": "http",
				"cookie-strategy": "DISABLED",
				"Connection Timeout": "5 secs",
				"send-message-body": "true",
				"set-form-filename": "true",
				"Always Output Response": "false",
				"etag-max-cache-size": "10MB",
				"disable-http2": "False",
				"idle-timeout": "5 mins",
				"Put Response Body In Attribute": null,
				"Use Chunked Encoding": "false",
				"Follow Redirects": "True",
				"Remote URL": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=${URL}&interval=1min&apikey=#{api_alpha_key}",
				"Content-Type": "${mime.type}",
				"form-body-form-name": null,
				"flow-file-naming-strategy": "RANDOM",
				"max-idle-connections": "5",
				"invokehttp-proxy-user": null,
				"Read Timeout": "15 secs",
				"Max Length To Put In Attribute": "256",
				"ignore-response-content": "false",
				"Proxy Port": null,
				"SSL Context Service": "1eab1d92-aeef-3669-9421-e9a9f02e5474",
				"Digest Authentication": "false",
				"HTTP Method": "GET",
				"Add Response Headers to Request": "false",
				"Basic Authentication Username": null,
				"oauth2-access-token-provider": null,
				"Include Date Header": "True",
				"Penalize on \"No Retry\"": "false",
				"Useragent": null
			},
			"propertyDescriptors": {
				"Proxy Host": {
					"name": "Proxy Host",
					"displayName": "Proxy Host",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Attributes to Send": {
					"name": "Attributes to Send",
					"displayName": "Attributes to Send",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"use-etag": {
					"name": "use-etag",
					"displayName": "Use HTTP ETag",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-configuration-service": {
					"name": "proxy-configuration-service",
					"displayName": "Proxy Configuration Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Proxy Type": {
					"name": "Proxy Type",
					"displayName": "Proxy Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Basic Authentication Password": {
					"name": "Basic Authentication Password",
					"displayName": "Basic Authentication Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"cookie-strategy": {
					"name": "cookie-strategy",
					"displayName": "Cookie Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Connection Timeout": {
					"name": "Connection Timeout",
					"displayName": "Connection Timeout",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"send-message-body": {
					"name": "send-message-body",
					"displayName": "Send Message Body",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"set-form-filename": {
					"name": "set-form-filename",
					"displayName": "Set FlowFile Form Data File Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Always Output Response": {
					"name": "Always Output Response",
					"displayName": "Always Output Response",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"etag-max-cache-size": {
					"name": "etag-max-cache-size",
					"displayName": "Maximum ETag Cache Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"disable-http2": {
					"name": "disable-http2",
					"displayName": "Disable HTTP/2",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"idle-timeout": {
					"name": "idle-timeout",
					"displayName": "Idle Timeout",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Put Response Body In Attribute": {
					"name": "Put Response Body In Attribute",
					"displayName": "Put Response Body In Attribute",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Use Chunked Encoding": {
					"name": "Use Chunked Encoding",
					"displayName": "Use Chunked Encoding",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Follow Redirects": {
					"name": "Follow Redirects",
					"displayName": "Follow Redirects",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Remote URL": {
					"name": "Remote URL",
					"displayName": "Remote URL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Content-Type": {
					"name": "Content-Type",
					"displayName": "Content-Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"form-body-form-name": {
					"name": "form-body-form-name",
					"displayName": "FlowFile Form Data Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"flow-file-naming-strategy": {
					"name": "flow-file-naming-strategy",
					"displayName": "FlowFile Naming Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"max-idle-connections": {
					"name": "max-idle-connections",
					"displayName": "Max Idle Connections",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"invokehttp-proxy-user": {
					"name": "invokehttp-proxy-user",
					"displayName": "Proxy Username",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Read Timeout": {
					"name": "Read Timeout",
					"displayName": "Read Timeout",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Max Length To Put In Attribute": {
					"name": "Max Length To Put In Attribute",
					"displayName": "Max Length To Put In Attribute",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"invokehttp-proxy-password": {
					"name": "invokehttp-proxy-password",
					"displayName": "Proxy Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"ignore-response-content": {
					"name": "ignore-response-content",
					"displayName": "Ignore response's content",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Proxy Port": {
					"name": "Proxy Port",
					"displayName": "Proxy Port",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"SSL Context Service": {
					"name": "SSL Context Service",
					"displayName": "SSL Context Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Digest Authentication": {
					"name": "Digest Authentication",
					"displayName": "Use Digest Authentication",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"HTTP Method": {
					"name": "HTTP Method",
					"displayName": "HTTP Method",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Add Response Headers to Request": {
					"name": "Add Response Headers to Request",
					"displayName": "Add Response Headers to Request",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Basic Authentication Username": {
					"name": "Basic Authentication Username",
					"displayName": "Basic Authentication Username",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"oauth2-access-token-provider": {
					"name": "oauth2-access-token-provider",
					"displayName": "OAuth2 Access Token provider",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Include Date Header": {
					"name": "Include Date Header",
					"displayName": "Include Date Header",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Penalize on \"No Retry\"": {
					"name": "Penalize on \"No Retry\"",
					"displayName": "Penalize on \"No Retry\"",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Useragent": {
					"name": "Useragent",
					"displayName": "Useragent",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["Original"],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "feec107a-26fa-3116-acd7-49f4a96e3482",
			"instanceIdentifier": "0f5edfbb-5de5-3152-b95d-b264890e7add",
			"name": "UpdateAttribute",
			"comments": "",
			"position": {
				"x": 840.0,
				"y": -640.0
			},
			"type": "org.apache.nifi.processors.attributes.UpdateAttribute",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-update-attribute-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"avro.schema": "{\n  \"type\": \"record\",\n  \"name\": \"StockIntraday\",\n  \"fields\": [\n    { \"name\": \"symbol\", \"type\": \"string\" },\n    { \"name\": \"last_refreshed\" , \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"interval\", \"type\": \"string\" },\n    { \"name\": \"output_size\", \"type\": \"string\" },\n    { \"name\": \"time_zone\", \"type\": \"string\" },\n    { \"name\": \"ts\", \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"open\", \"type\": \"float\" },\n    { \"name\": \"high\", \"type\": \"float\" },\n    { \"name\": \"low\", \"type\": \"float\" },\n    { \"name\": \"close\", \"type\": \"float\" },\n    { \"name\": \"volume\", \"type\": \"long\" }\n  ]\n} ",
				"Delete Attributes Expression": null,
				"Store State": "Do not store state",
				"canonical-value-lookup-cache-size": "100",
				"Stateful Variables Initial Value": null
			},
			"propertyDescriptors": {
				"avro.schema": {
					"name": "avro.schema",
					"displayName": "avro.schema",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Delete Attributes Expression": {
					"name": "Delete Attributes Expression",
					"displayName": "Delete Attributes Expression",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Store State": {
					"name": "Store State",
					"displayName": "Store State",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"canonical-value-lookup-cache-size": {
					"name": "canonical-value-lookup-cache-size",
					"displayName": "Cache Value Lookup Cache Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Stateful Variables Initial Value": {
					"name": "Stateful Variables Initial Value",
					"displayName": "Stateful Variables Initial Value",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": [],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "c0488aef-c269-3ec0-b040-b1b3a5a5ab23",
			"instanceIdentifier": "c97437a5-cee5-3d23-a827-ce16fc1efa9f",
			"name": "ExtractText",
			"comments": "",
			"position": {
				"x": -48.0,
				"y": -1032.0
			},
			"type": "org.apache.nifi.processors.standard.ExtractText",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Enable Unicode Predefined Character Classes": "false",
				"Permit Whitespace and Comments in Pattern": "false",
				"Enable Unicode-aware Case Folding": "false",
				"Enable DOTALL Mode": "false",
				"Enable Unix Lines Mode": "false",
				"extract-text-enable-named-groups": "false",
				"Maximum Buffer Size": "1 MB",
				"Enable Canonical Equivalence": "false",
				"URL": "(.*)",
				"Enable Case-insensitive Matching": "false",
				"Enable Multiline Mode": "false",
				"Maximum Capture Group Length": "1024",
				"Enable Literal Parsing of the Pattern": "false",
				"Character Set": "UTF-8",
				"Include Capture Group 0": "true",
				"extract-text-enable-repeating-capture-group": "false"
			},
			"propertyDescriptors": {
				"Enable Unicode Predefined Character Classes": {
					"name": "Enable Unicode Predefined Character Classes",
					"displayName": "Enable Unicode Predefined Character Classes",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Permit Whitespace and Comments in Pattern": {
					"name": "Permit Whitespace and Comments in Pattern",
					"displayName": "Permit Whitespace and Comments in Pattern",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Enable Unicode-aware Case Folding": {
					"name": "Enable Unicode-aware Case Folding",
					"displayName": "Enable Unicode-aware Case Folding",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Enable DOTALL Mode": {
					"name": "Enable DOTALL Mode",
					"displayName": "Enable DOTALL Mode",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Enable Unix Lines Mode": {
					"name": "Enable Unix Lines Mode",
					"displayName": "Enable Unix Lines Mode",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"extract-text-enable-named-groups": {
					"name": "extract-text-enable-named-groups",
					"displayName": "Enable named group support",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Maximum Buffer Size": {
					"name": "Maximum Buffer Size",
					"displayName": "Maximum Buffer Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Enable Canonical Equivalence": {
					"name": "Enable Canonical Equivalence",
					"displayName": "Enable Canonical Equivalence",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"URL": {
					"name": "URL",
					"displayName": "URL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Enable Case-insensitive Matching": {
					"name": "Enable Case-insensitive Matching",
					"displayName": "Enable Case-insensitive Matching",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Enable Multiline Mode": {
					"name": "Enable Multiline Mode",
					"displayName": "Enable Multiline Mode",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Maximum Capture Group Length": {
					"name": "Maximum Capture Group Length",
					"displayName": "Maximum Capture Group Length",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Enable Literal Parsing of the Pattern": {
					"name": "Enable Literal Parsing of the Pattern",
					"displayName": "Enable Literal Parsing of the Pattern",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Character Set": {
					"name": "Character Set",
					"displayName": "Character Set",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Include Capture Group 0": {
					"name": "Include Capture Group 0",
					"displayName": "Include Capture Group 0",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"extract-text-enable-repeating-capture-group": {
					"name": "extract-text-enable-repeating-capture-group",
					"displayName": "Enable repeating capture group",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["unmatched"],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "e53b19ed-5c5c-3401-b014-979d09c8be75",
			"instanceIdentifier": "09830bc8-d9f2-32f7-a283-3decd3acc097",
			"name": "List of Stocks",
			"comments": "",
			"position": {
				"x": -64.0,
				"y": -1664.0
			},
			"type": "org.apache.nifi.processors.standard.GenerateFlowFile",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"character-set": "UTF-8",
				"File Size": "0B",
				"mime-type": null,
				"generate-ff-custom-text": "#{stock_list}",
				"Batch Size": "1",
				"Unique FlowFiles": "false",
				"Data Format": "Text"
			},
			"propertyDescriptors": {
				"character-set": {
					"name": "character-set",
					"displayName": "Character Set",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"File Size": {
					"name": "File Size",
					"displayName": "File Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"mime-type": {
					"name": "mime-type",
					"displayName": "Mime Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"generate-ff-custom-text": {
					"name": "generate-ff-custom-text",
					"displayName": "Custom Text",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Batch Size": {
					"name": "Batch Size",
					"displayName": "Batch Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Unique FlowFiles": {
					"name": "Unique FlowFiles",
					"displayName": "Unique FlowFiles",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Data Format": {
					"name": "Data Format",
					"displayName": "Data Format",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"style": {},
			"schedulingPeriod": "15 min",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "PRIMARY",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": [],
			"scheduledState": "ENABLED",
			"retryCount": 10,
			"retriedRelationships": [],
			"backoffMechanism": "PENALIZE_FLOWFILE",
			"maxBackoffPeriod": "10 mins",
			"componentType": "PROCESSOR",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}],
		"inputPorts": [],
		"outputPorts": [],
		"connections": [{
			"identifier": "efd7261a-873e-3317-8578-0961a9e3307c",
			"instanceIdentifier": "f32b4e71-cfc0-3eec-9df1-93ca6cd53c49",
			"name": "",
			"source": {
				"id": "c0488aef-c269-3ec0-b040-b1b3a5a5ab23",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ExtractText",
				"comments": "",
				"instanceIdentifier": "c97437a5-cee5-3d23-a827-ce16fc1efa9f"
			},
			"destination": {
				"id": "d729b39e-9c06-34d3-a0ae-9558548b8946",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ControlRate",
				"comments": "",
				"instanceIdentifier": "6c3ffc21-7638-36ac-8d8d-1e66811a69b7"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["matched"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "5a8c5492-8e87-32db-b4e5-f898b66121fe",
			"instanceIdentifier": "63dfabc4-5001-326c-b380-9be6a687fd86",
			"name": "",
			"source": {
				"id": "14647612-470f-302f-9622-d3f42655ed67",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "InvokeHTTP",
				"comments": "",
				"instanceIdentifier": "543cb7cf-2b0b-3d84-952d-358b465983d1"
			},
			"destination": {
				"id": "285d945c-cfaa-3d10-850d-041225498411",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "JoltTransformJSON",
				"comments": "",
				"instanceIdentifier": "1531c704-cba0-3222-ae77-4cfc76b70032"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["Response"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "f62ce082-71aa-3930-b75b-e5fae0a3db6a",
			"instanceIdentifier": "8fcba838-37a3-343c-8b4f-53b54f0fa800",
			"name": "",
			"source": {
				"id": "14647612-470f-302f-9622-d3f42655ed67",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "InvokeHTTP",
				"comments": "",
				"instanceIdentifier": "543cb7cf-2b0b-3d84-952d-358b465983d1"
			},
			"destination": {
				"id": "dd8cf452-a5c3-357c-8400-18deecccdfb3",
				"type": "FUNNEL",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "Funnel",
				"comments": "",
				"instanceIdentifier": "ecb83521-ddfe-3c3f-a4ab-98ef1850e021"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["No Retry", "Retry", "Failure"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "bf46e702-3c61-35b5-804c-9cac20cafeae",
			"instanceIdentifier": "499705ab-050d-3aec-bd33-1463def77dee",
			"name": "",
			"source": {
				"id": "d729b39e-9c06-34d3-a0ae-9558548b8946",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ControlRate",
				"comments": "",
				"instanceIdentifier": "6c3ffc21-7638-36ac-8d8d-1e66811a69b7"
			},
			"destination": {
				"id": "14647612-470f-302f-9622-d3f42655ed67",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "InvokeHTTP",
				"comments": "",
				"instanceIdentifier": "543cb7cf-2b0b-3d84-952d-358b465983d1"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "3b6a2f1f-1b20-3ead-b9c8-744491a1ce9d",
			"instanceIdentifier": "052f0a26-eb8b-3ab0-9ab2-45a99afcf1c6",
			"name": "",
			"source": {
				"id": "d729b39e-9c06-34d3-a0ae-9558548b8946",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ControlRate",
				"comments": "",
				"instanceIdentifier": "6c3ffc21-7638-36ac-8d8d-1e66811a69b7"
			},
			"destination": {
				"id": "d729b39e-9c06-34d3-a0ae-9558548b8946",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ControlRate",
				"comments": "",
				"instanceIdentifier": "6c3ffc21-7638-36ac-8d8d-1e66811a69b7"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["failure"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [{
				"x": 412.4892272949219,
				"y": -574.6813659667969
			}, {
				"x": 412.4892272949219,
				"y": -524.6813659667969
			}],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "0c1f288a-818a-3a6b-8a7b-2a5afda4a943",
			"instanceIdentifier": "9abb4fa8-4da0-300c-bc68-f195e6c34469",
			"name": "",
			"source": {
				"id": "eb6917bd-9c2a-3b38-a225-720cba1f4be1",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "MergeContent",
				"comments": "",
				"instanceIdentifier": "d86c9ba7-a071-3fec-88fe-55dee3d02635"
			},
			"destination": {
				"id": "6869488f-097b-378e-9d6b-fba439bc6880",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "UpdateAttribute",
				"comments": "",
				"instanceIdentifier": "8e76f8c0-6161-30bf-a28f-6d389fcaf44c"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["merged"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "5b19ca29-6489-3732-a5e7-f644c0ce5ab3",
			"instanceIdentifier": "f3eaf13b-e0f8-3e68-a26b-eed7e9c0e549",
			"name": "",
			"source": {
				"id": "a5f69ccb-0e76-35f9-ac89-ec2548facfae",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "SplitJson",
				"comments": "",
				"instanceIdentifier": "a4dde08f-05a0-3ab3-a23f-fb5252bd4597"
			},
			"destination": {
				"id": "3138087e-e910-3047-96a0-fa2507b21205",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ConvertRecord",
				"comments": "",
				"instanceIdentifier": "1a1c31b4-fd97-377d-8f12-60b5c46440c5"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["split"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "ec1a7188-6a71-34e5-a456-5fa9b1e8567e",
			"instanceIdentifier": "bd01eb0b-4849-39cc-afd0-c47e70460fe8",
			"name": "",
			"source": {
				"id": "feec107a-26fa-3116-acd7-49f4a96e3482",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "UpdateAttribute",
				"comments": "",
				"instanceIdentifier": "0f5edfbb-5de5-3152-b95d-b264890e7add"
			},
			"destination": {
				"id": "a5f69ccb-0e76-35f9-ac89-ec2548facfae",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "SplitJson",
				"comments": "",
				"instanceIdentifier": "a4dde08f-05a0-3ab3-a23f-fb5252bd4597"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "59cf1630-e432-3189-99f0-1ef64e92e731",
			"instanceIdentifier": "a4451d58-26a8-340b-8e60-890131f69301",
			"name": "",
			"source": {
				"id": "eb6917bd-9c2a-3b38-a225-720cba1f4be1",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "MergeContent",
				"comments": "",
				"instanceIdentifier": "d86c9ba7-a071-3fec-88fe-55dee3d02635"
			},
			"destination": {
				"id": "2a712170-ca08-3a5e-a5e5-365b08d2d7fb",
				"type": "FUNNEL",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "Funnel",
				"comments": "",
				"instanceIdentifier": "1b2f48f2-31fe-383b-8b7a-079983711ef5"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["failure"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "b0b428ed-83aa-39a3-a70f-9651d334fe1d",
			"instanceIdentifier": "1e1b69b9-ae2f-3d0b-bc1e-6befcb3d329e",
			"name": "",
			"source": {
				"id": "3138087e-e910-3047-96a0-fa2507b21205",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ConvertRecord",
				"comments": "",
				"instanceIdentifier": "1a1c31b4-fd97-377d-8f12-60b5c46440c5"
			},
			"destination": {
				"id": "eb6917bd-9c2a-3b38-a225-720cba1f4be1",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "MergeContent",
				"comments": "",
				"instanceIdentifier": "d86c9ba7-a071-3fec-88fe-55dee3d02635"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "50ccc32c-bb66-35f9-b65f-d7722351d5ad",
			"instanceIdentifier": "954eb145-cb89-3405-8c59-16e858917628",
			"name": "",
			"source": {
				"id": "4c06067b-4002-3f63-98fc-b09c338199c6",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "PutCDPObjectStore",
				"comments": "",
				"instanceIdentifier": "74be8496-faa4-3a1b-b9f1-7d5f0bc26367"
			},
			"destination": {
				"id": "2a712170-ca08-3a5e-a5e5-365b08d2d7fb",
				"type": "FUNNEL",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "Funnel",
				"comments": "",
				"instanceIdentifier": "1b2f48f2-31fe-383b-8b7a-079983711ef5"
			},
			"labelIndex": 0,
			"zIndex": 0,
			"selectedRelationships": ["failure"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [{
				"x": 1325.5005493164062,
				"y": 305.4588623046875
			}, {
				"x": 1325.5005493164062,
				"y": 355.4588623046875
			}],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "265dba90-9ad5-3ca5-8712-11e9e4fc5385",
			"instanceIdentifier": "947616a3-c022-313a-8b64-da7165ea9192",
			"name": "",
			"source": {
				"id": "a5f69ccb-0e76-35f9-ac89-ec2548facfae",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "SplitJson",
				"comments": "",
				"instanceIdentifier": "a4dde08f-05a0-3ab3-a23f-fb5252bd4597"
			},
			"destination": {
				"id": "dd8cf452-a5c3-357c-8400-18deecccdfb3",
				"type": "FUNNEL",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "Funnel",
				"comments": "",
				"instanceIdentifier": "ecb83521-ddfe-3c3f-a4ab-98ef1850e021"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["failure"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "582b6d95-3be1-37f6-b5aa-0fafea9e73ce",
			"instanceIdentifier": "bc6fef36-761c-3d23-9556-8e4b7fc5c385",
			"name": "",
			"source": {
				"id": "285d945c-cfaa-3d10-850d-041225498411",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "JoltTransformJSON",
				"comments": "",
				"instanceIdentifier": "1531c704-cba0-3222-ae77-4cfc76b70032"
			},
			"destination": {
				"id": "feec107a-26fa-3116-acd7-49f4a96e3482",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "UpdateAttribute",
				"comments": "",
				"instanceIdentifier": "0f5edfbb-5de5-3152-b95d-b264890e7add"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "eed2f901-8c54-32b2-ad3c-d358d094ce4f",
			"instanceIdentifier": "75aade65-4297-3b03-900b-68125c32a197",
			"name": "",
			"source": {
				"id": "3138087e-e910-3047-96a0-fa2507b21205",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ConvertRecord",
				"comments": "",
				"instanceIdentifier": "1a1c31b4-fd97-377d-8f12-60b5c46440c5"
			},
			"destination": {
				"id": "dd8cf452-a5c3-357c-8400-18deecccdfb3",
				"type": "FUNNEL",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "Funnel",
				"comments": "",
				"instanceIdentifier": "ecb83521-ddfe-3c3f-a4ab-98ef1850e021"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["failure"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "995a4772-a281-3c79-9a4e-580f440d7433",
			"instanceIdentifier": "632a73ef-825a-39ea-a94b-99c48132709d",
			"name": "",
			"source": {
				"id": "06c27bf9-f5c8-33f0-b7fc-5cdb7cac050f",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "SplitText",
				"comments": "",
				"instanceIdentifier": "96d0ac31-8688-3daa-b46b-d2bd49af19b9"
			},
			"destination": {
				"id": "c0488aef-c269-3ec0-b040-b1b3a5a5ab23",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "ExtractText",
				"comments": "",
				"instanceIdentifier": "c97437a5-cee5-3d23-a827-ce16fc1efa9f"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["splits"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "97fe098f-9213-33db-a655-3c123910e1f7",
			"instanceIdentifier": "ddc7f7ac-197b-3354-9439-90ac2ccd1af9",
			"name": "",
			"source": {
				"id": "6869488f-097b-378e-9d6b-fba439bc6880",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "UpdateAttribute",
				"comments": "",
				"instanceIdentifier": "8e76f8c0-6161-30bf-a28f-6d389fcaf44c"
			},
			"destination": {
				"id": "4c06067b-4002-3f63-98fc-b09c338199c6",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "PutCDPObjectStore",
				"comments": "",
				"instanceIdentifier": "74be8496-faa4-3a1b-b9f1-7d5f0bc26367"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "74d280b0-f5cc-310f-ab02-05d5bf665063",
			"instanceIdentifier": "0362df06-d9ed-3b91-b47c-afb827c148e9",
			"name": "",
			"source": {
				"id": "285d945c-cfaa-3d10-850d-041225498411",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "JoltTransformJSON",
				"comments": "",
				"instanceIdentifier": "1531c704-cba0-3222-ae77-4cfc76b70032"
			},
			"destination": {
				"id": "dd8cf452-a5c3-357c-8400-18deecccdfb3",
				"type": "FUNNEL",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "Funnel",
				"comments": "",
				"instanceIdentifier": "ecb83521-ddfe-3c3f-a4ab-98ef1850e021"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["failure"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "2a4f0d9d-df49-3c88-99d6-f21b515721f2",
			"instanceIdentifier": "b1db66e5-cccf-3f3f-8d1e-1839a9433a8b",
			"name": "",
			"source": {
				"id": "e53b19ed-5c5c-3401-b014-979d09c8be75",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "List of Stocks",
				"comments": "",
				"instanceIdentifier": "09830bc8-d9f2-32f7-a283-3decd3acc097"
			},
			"destination": {
				"id": "06c27bf9-f5c8-33f0-b7fc-5cdb7cac050f",
				"type": "PROCESSOR",
				"groupId": "68b63ddb-b60d-3a2b-a2ca-7d8525881079",
				"name": "SplitText",
				"comments": "",
				"instanceIdentifier": "96d0ac31-8688-3daa-b46b-d2bd49af19b9"
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}],
		"labels": [{
			"identifier": "949d7cdf-e8a9-39df-8389-5100eb18a76f",
			"instanceIdentifier": "3821ac7a-676a-3a39-acf3-76998b66e6d6",
			"position": {
				"x": 720.0,
				"y": -848.0
			},
			"label": "Simple transform and load to Object Storage",
			"zIndex": 0,
			"width": 768.0,
			"height": 1344.0,
			"style": {
				"font-size": "12px"
			},
			"componentType": "LABEL",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "5f206808-d201-3b84-b550-24e2523aab2d",
			"instanceIdentifier": "5610a301-0fde-3853-a167-9f40ff3712d0",
			"position": {
				"x": -240.0,
				"y": -1784.0
			},
			"label": "Prepare list of stocks",
			"zIndex": 0,
			"width": 728.0,
			"height": 936.0,
			"style": {
				"font-size": "12px"
			},
			"componentType": "LABEL",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "0be41b98-4b2d-3f2c-b0d8-2c438edca847",
			"instanceIdentifier": "9e599f67-ffb2-3fdc-972a-16bba4593509",
			"position": {
				"x": -208.0,
				"y": -712.0
			},
			"label": "Request API from parameters",
			"zIndex": 0,
			"width": 656.0,
			"height": 1240.0,
			"style": {
				"font-size": "12px"
			},
			"componentType": "LABEL",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}],
		"funnels": [{
			"identifier": "2a712170-ca08-3a5e-a5e5-365b08d2d7fb",
			"instanceIdentifier": "1b2f48f2-31fe-383b-8b7a-079983711ef5",
			"position": {
				"x": 1376.0,
				"y": 184.0
			},
			"componentType": "FUNNEL",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "dd8cf452-a5c3-357c-8400-18deecccdfb3",
			"instanceIdentifier": "ecb83521-ddfe-3c3f-a4ab-98ef1850e021",
			"position": {
				"x": 568.0,
				"y": -16.0
			},
			"componentType": "FUNNEL",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}],
		"controllerServices": [{
			"identifier": "d82914ab-c104-3b29-97d0-4fbad6e05bee",
			"instanceIdentifier": "9e7905cd-58a9-38b6-972b-531d8de95114",
			"name": "CSVRecordSetWriter",
			"comments": "",
			"type": "org.apache.nifi.csv.CSVRecordSetWriter",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-record-serialization-services-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"schema-branch": null,
				"CSV Format": "custom",
				"Quote Character": "\"",
				"Include Header Line": "false",
				"Value Separator": ",",
				"schema-cache": null,
				"Record Separator": "\\n",
				"Timestamp Format": null,
				"Escape Character": "\\",
				"Date Format": null,
				"Schema Write Strategy": "no-schema",
				"Null String": null,
				"Trim Fields": "true",
				"schema-name": "${schema.name}",
				"schema-registry": null,
				"Time Format": null,
				"Comment Marker": null,
				"schema-access-strategy": "inherit-record-schema",
				"schema-protocol-version": "1",
				"schema-version": null,
				"csvutils-character-set": "UTF-8",
				"schema-text": "${avro.schema}",
				"Quote Mode": "MINIMAL",
				"Include Trailing Delimiter": "false"
			},
			"propertyDescriptors": {
				"schema-branch": {
					"name": "schema-branch",
					"displayName": "Schema Branch",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"CSV Format": {
					"name": "CSV Format",
					"displayName": "CSV Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Quote Character": {
					"name": "Quote Character",
					"displayName": "Quote Character",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Include Header Line": {
					"name": "Include Header Line",
					"displayName": "Include Header Line",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Value Separator": {
					"name": "Value Separator",
					"displayName": "Value Separator",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-cache": {
					"name": "schema-cache",
					"displayName": "Schema Cache",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Record Separator": {
					"name": "Record Separator",
					"displayName": "Record Separator",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Timestamp Format": {
					"name": "Timestamp Format",
					"displayName": "Timestamp Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Escape Character": {
					"name": "Escape Character",
					"displayName": "Escape Character",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Date Format": {
					"name": "Date Format",
					"displayName": "Date Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Schema Write Strategy": {
					"name": "Schema Write Strategy",
					"displayName": "Schema Write Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Null String": {
					"name": "Null String",
					"displayName": "Null String",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Trim Fields": {
					"name": "Trim Fields",
					"displayName": "Trim Fields",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-name": {
					"name": "schema-name",
					"displayName": "Schema Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-registry": {
					"name": "schema-registry",
					"displayName": "Schema Registry",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Time Format": {
					"name": "Time Format",
					"displayName": "Time Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Comment Marker": {
					"name": "Comment Marker",
					"displayName": "Comment Marker",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-access-strategy": {
					"name": "schema-access-strategy",
					"displayName": "Schema Access Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-protocol-version": {
					"name": "schema-protocol-version",
					"displayName": "Schema Protocol Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-version": {
					"name": "schema-version",
					"displayName": "Schema Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"csvutils-character-set": {
					"name": "csvutils-character-set",
					"displayName": "Character Set",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-text": {
					"name": "schema-text",
					"displayName": "Schema Text",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Quote Mode": {
					"name": "Quote Mode",
					"displayName": "Quote Mode",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Include Trailing Delimiter": {
					"name": "Include Trailing Delimiter",
					"displayName": "Include Trailing Delimiter",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.serialization.RecordSetWriterFactory",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.16.0.2.3.6.1-1"
				}
			}],
			"scheduledState": "DISABLED",
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "0dd7f2f8-4c59-376d-b5b7-f16faa279c1b",
			"instanceIdentifier": "ae532b66-4fd3-3ed6-82f7-0d8429f52d6b",
			"name": "JsonPathReader",
			"comments": "",
			"type": "org.apache.nifi.json.JsonPathReader",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-record-serialization-services-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"symbol": "$.symbol",
				"schema-branch": null,
				"output_size": "$.output_size",
				"time_zone": "$.time_zone",
				"last_refreshed": "$.last_refreshed",
				"Timestamp Format": "yyyy-MM-dd HH:mm:ss",
				"volume": "$.volume",
				"Date Format": null,
				"high": "$.high",
				"low": "$.low",
				"schema-name": "${schema.name}",
				"schema-registry": null,
				"Time Format": null,
				"interval": "$.interval",
				"schema-access-strategy": "schema-text-property",
				"schema-version": null,
				"schema-text": "${avro.schema}",
				"close": "$.close",
				"open": "$.open",
				"ts": "$.ts"
			},
			"propertyDescriptors": {
				"symbol": {
					"name": "symbol",
					"displayName": "symbol",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-branch": {
					"name": "schema-branch",
					"displayName": "Schema Branch",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"output_size": {
					"name": "output_size",
					"displayName": "output_size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"time_zone": {
					"name": "time_zone",
					"displayName": "time_zone",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"last_refreshed": {
					"name": "last_refreshed",
					"displayName": "last_refreshed",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Timestamp Format": {
					"name": "Timestamp Format",
					"displayName": "Timestamp Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"volume": {
					"name": "volume",
					"displayName": "volume",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Date Format": {
					"name": "Date Format",
					"displayName": "Date Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"high": {
					"name": "high",
					"displayName": "high",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"low": {
					"name": "low",
					"displayName": "low",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-name": {
					"name": "schema-name",
					"displayName": "Schema Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-registry": {
					"name": "schema-registry",
					"displayName": "Schema Registry",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Time Format": {
					"name": "Time Format",
					"displayName": "Time Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"interval": {
					"name": "interval",
					"displayName": "interval",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-access-strategy": {
					"name": "schema-access-strategy",
					"displayName": "Schema Access Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-version": {
					"name": "schema-version",
					"displayName": "Schema Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-text": {
					"name": "schema-text",
					"displayName": "Schema Text",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"close": {
					"name": "close",
					"displayName": "close",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"open": {
					"name": "open",
					"displayName": "open",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"ts": {
					"name": "ts",
					"displayName": "ts",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.serialization.RecordReaderFactory",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.16.0.2.3.6.1-1"
				}
			}],
			"scheduledState": "DISABLED",
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "68b63ddb-b60d-3a2b-a2ca-7d8525881079"
		}, {
			"identifier": "1eab1d92-aeef-3669-9421-e9a9f02e5474",
			"instanceIdentifier": "813e5658-0183-1000-ffff-ffffd8c5259f",
			"name": "Default NiFi SSL Context Service",
			"type": "org.apache.nifi.ssl.StandardRestrictedSSLContextService",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-ssl-context-service-nar",
				"version": "1.16.0.2.3.6.1-1"
			},
			"properties": {
				"Truststore Type": "JKS",
				"SSL Protocol": "TLS",
				"Keystore Type": "JKS",
				"Truststore Filename": "/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks",
				"Keystore Filename": "/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"
			},
			"propertyDescriptors": {
				"Truststore Type": {
					"name": "Truststore Type",
					"displayName": "Truststore Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"SSL Protocol": {
					"name": "SSL Protocol",
					"displayName": "TLS Protocol",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Keystore Type": {
					"name": "Keystore Type",
					"displayName": "Keystore Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Truststore Filename": {
					"name": "Truststore Filename",
					"displayName": "Truststore Filename",
					"identifiesControllerService": false,
					"sensitive": false,
					"resourceDefinition": {
						"cardinality": "SINGLE",
						"resourceTypes": ["FILE"]
					}
				},
				"Keystore Password": {
					"name": "Keystore Password",
					"displayName": "Keystore Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"key-password": {
					"name": "key-password",
					"displayName": "Key Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Truststore Password": {
					"name": "Truststore Password",
					"displayName": "Truststore Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Keystore Filename": {
					"name": "Keystore Filename",
					"displayName": "Keystore Filename",
					"identifiesControllerService": false,
					"sensitive": false,
					"resourceDefinition": {
						"cardinality": "SINGLE",
						"resourceTypes": ["FILE"]
					}
				}
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.ssl.RestrictedSSLContextService",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.16.0.2.3.6.1-1"
				}
			}, {
				"type": "org.apache.nifi.ssl.SSLContextService",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.16.0.2.3.6.1-1"
				}
			}],
			"scheduledState": "DISABLED",
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "813e5816-0183-1000-ffff-ffffd045df0b"
		}],
		"variables": {},
		"parameterContextName": "Intraday_Stocks_Parameters",
		"defaultFlowFileExpiration": "0 sec",
		"defaultBackPressureObjectThreshold": 10000,
		"defaultBackPressureDataSizeThreshold": "1 GB",
		"flowFileConcurrency": "UNBOUNDED",
		"flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
		"componentType": "PROCESS_GROUP"
	},
	"externalControllerServices": {},
	"parameterContexts": {
		"Intraday_Stocks_Parameters": {
			"name": "Intraday_Stocks_Parameters",
			"parameters": [{
				"name": "CDP_Password",
				"description": "",
				"sensitive": true
			}, {
				"name": "S3 Path",
				"description": "",
				"sensitive": false,
				"value": "stocks"
			}, {
				"name": "api_alpha_key",
				"description": "",
				"sensitive": false,
				"value": "RE0BU7VE1RAHC0CQ"
			}, {
				"name": "CDP_User",
				"description": "",
				"sensitive": false,
				"value": "bguedes"
			}, {
				"name": "stock_list",
				"description": "",
				"sensitive": false,
				"value": "IBM\nGOOGL\nAMZN\nMSFT"
			}],
			"inheritedParameterContexts": [],
			"componentType": "PARAMETER_CONTEXT"
		}
	},
	"flowEncodingVersion": "1.0"
}
